@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

ul{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}



nav {
  position: absolute;
  display: flex;
  background-color: aqua;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  border-bottom: 5px solid grey;
  
}

.logo{
  padding-left: 10%; 
  font: 20px "Algerian";
  font-weight:bolder;
}

.onglet{
opacity: 0.9;
transform: rotateZ(1.05);
transition: 0.6S ease-in-out;
padding-left: 50%;
padding-right: 10%;
}

.onglet a{
  margin-left:20px;
  text-decoration: none;
  color:black;
  font-weight: bold;
  
}

.onglet a:hover{
  text-transform:uppercase;
  border-bottom: 5px solid red;
}

.dfjb{
  background-image: url(../images/mains2.jpe);
  background-size:cover;
  height: 600px;
  background-repeat: no-repeat;
}

.efvdf{
  text-align: center;
    font: 800 2rem 'Montserrat';
    background: linear-gradient(
        to right, red 10%, blue 40%, violet 80%
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 5s linear infinite;
}

@keyframes animate {
  to {
      background-position: 200% center;
  }
}

.dfjbs{
  margin-top: 70px;
}

button a{
  text-decoration: none;
  color:red;
  font-weight: bold;
}

button {
  width: 250px;
  font-size: 1.1rem;
  line-height: 2;
  margin-left:45% ;
  border-radius: 10px;
  border: none;
  background-image: linear-gradient(to bottom right, rgb(173, 146, 146), rgb(241, 241, 237));
  box-shadow: 10px 10px 1px rgb(194, 19, 19),
              inset 2px 3px 5px rgba(209, 200, 200, 0.3),
              inset -2px -3px 5px rgba(255,255,255,0.5);
}

button:focus, button:hover {
  background-image: linear-gradient(to bottom right, #888, #eee);
}

button:active {
  box-shadow: inset 2px 2px 1px black,
              inset 2px 3px 5px rgba(0,0,0,0.3),
              inset -2px -3px 5px rgba(255,255,255,0.5);
}

main{
  margin: 0;
  padding: 0;
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-top: 5px solid gray;
}

main img{
 margin-left: 29%;
 width: 500px;
 height: 300px;
}

.suit-1 img{
   margin-top: -900px;
   margin-left: 500px;
   margin-bottom: 30px;
}

.suit-2 {
 margin-left: 550px;
}

.suit-2 img{
   margin-left: -550px;
   margin-top:  -250px;
}

.suit-3 img{
   margin-top: -600px;
   margin-bottom: 30px;
   margin-left: 500px;
}

.big-order{
   border-top: 5px solid black;
}

.big-order .winner{
     margin-left: 35%;
}

footer{
 margin-top: 40px;
 border-top: 5px solid rgb(255, 244, 244);
 background-color: rgb(20, 16, 16);
 color: white;
 padding: 30px 100px;
 font-family: "Montserrat", sans-serif;
}
footer .end .end{
  display: flex;
  justify-items: flex-end;
  flex-wrap: wrap;
}

footer .ends .end p{
 max-width: 300px;
}
.end{
 margin-right: 30px;
 align-items: center;
}

footer #about{
 margin-left: 45%;
}

footer #contact{
 margin-top: 50px;
 margin-left: 35%;
 margin-bottom: -10px;
 color: blueviolet;
}
.pronoun{
 font-family: "Playfair Display" sans-serif;
 flex-wrap: wrap;
}

.wijl{
 color: red;
 align-items: center;
 font-weight: bolder;
 
}
.goggo1{
 margin-left: 35%;
 
}
.goggo2{
 margin-left: 47%;
}
.goggo3{
 margin-left: 42%;
}
.goggo4{
 margin-left: 48%;
}
.goggo5{
 margin-left: 44%;
}
.goggo6{
 margin-left: 41%;
}
.goggo7{
 margin-left: 43%;
}
.goggo8{
 margin-left: 27%;
}
.jdidk{
 position: relative;
 margin-left: 35%;
 padding-bottom: 4px;
 padding-top: 4px;
 margin-top: -38px;  
}
.tyjyd{
 padding-top: 5px;
 font-family: "Playfair Display" sans-serif;
 
}
.wpcf7{
 font-size: 20px;
 border-radius: 5px;
}

.form-group{
  text-align: center;
  color: red;
}